{% extends 'app/base.html' %}
{%block content%}
    {% for image in images %}
    <div>
        <h2>
            <a href="{%url 'app:detail' image.id%}">{{image.title}}</a>
        </h2>
    </div>
    {% endfor %}
{% endblock%}